/* 1vamos resetar antes de tudo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. CONFIGURAÇÃO DO CORPO */
body {
    font-family: Roboto, sans-serif; /* Simples e limpo */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

/* 3. LINKS (Limpeza de fiação) */
a {
    text-decoration: none;
    color: inherit;
}

header, footer {
    background-color: #1f2937;
    /* display: flex; */
}


/* esta parte e da header e Hero */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px;
}

/* aqui e sobre o menu da navbar */

.nav-menu {
    display: flex;
    list-style: none;
    gap: 24px;
}

/* aqui sobre a brand */

.brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-menu a {
    font-size: 18px;
    color: #e5e7eb;
}

/* aqui sobre o hero */

.hero-main {
    display: flex;
    gap: 48px;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 80px;
}

/* aqui e o titulo */

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    width: 900;
}

/* aqui o subtitulo */

.hero-subtitle {
    font-size: 18px;
    color: #e5e7eb;
}